<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="D:\MES\AI\ODN_development" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\MES\AI\ODN_development\venv\Scripts\python.exe|D:\MES\AI\ODN_development\venv\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <fastCgi>
      <application fullPath="D:\MES\AI\ODN_development\venv\Scripts\python.exe" arguments="D:\MES\AI\ODN_development\venv\lib\site-packages\wfastcgi.py">
        <!-- Puedes agregar variables de entorno adicionales aquí si es necesario -->
        <environmentVariables>
          <!-- Por ahora, podemos dejar esta sección vacía -->
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>
