<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\path\to\python.exe|C:\path\to\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\path\to\python.exe" arguments="C:\path\to\wfastcgi.py" />
        </fastCgi>
    </system.webServer>
</configuration>
